.tb_header {
    background: #3367d6;
    font-size: 10px;
    font-family: Roboto, sans-serif;
    border: 0;
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.48);
}

.td {
    font-size: 0.9em;
}